<%- layout('layouts/main') %> 


<div class="container">
    <!-- Content here -->


<div class="jumbotron">
    <h1 class="display-4">Hello, delivery togofy!</h1>

    <h3> Funcionalides del aplicativo:</h3>
    <p class="lead">
  
  <ul>
      <li>
        Tipos de roles de usuario. Rol Editor y Rol Lector
      </li>
      <li>
        El usuario Editor puede crear, editar, leer y borrar noticias
      </li>
      <li>
        El usuario lector solo puede leer noticias y marcarlas/desmarcarlas como favoritas
      </li>
      <li>
        Cualquier usuario editor puede editar y borrar cualquier noticia aunque no la haya creado él mismo.
      </li>
      <li>
        Ventana de registro con nombre de usuario, password y tipo de rol con el que se está registrando.
      </li>
      <li>
        Ventana de login única para ambos roles
      </li>
      <li>
        Ventana de ver noticias, ordenadas por orden de creación (la más nueva primero)
      </li>
      <li>
        Funcionalidad para crear una nueva noticia. solo disponible para el Rol Editor
      </li>
      <li>
        Funcionalidad para editar una noticia existente. solo disponible para el Rol Editor
      </li>
      <li>
        Funcionalidad para borrar una noticia existente. Rol Editor
      </li>
      <li>
        Funcionalidad para marcar una noticia como favorita. Solo para el  Rol Lector
      </li>
      <li>
        Ventana donde el usuario lector pueda ver sus noticias favoritas.
      </li>
      <li>
        Funcionalidad de logout
      </li>
  </ul>
    </p>

    <p class="lead">
        God bless you !!!
     </p>

    <hr class="my-4">
    <p>by Juan Carlos orozco N..</p>
    <p>&copy; Copyright 2021 jorozcodeveloper@gmail.com</p>
  </div>

</div>